.more1{
    height: 140px;
    width: 100%;
    background-color:#F9F9F9;
}
.more1 .center1{
    height: inherit;
    width: calc(100% - 188px );
    margin: 0 auto;
    position: relative;
}

.more1 .center1 .more_button1{
    width: 400px;
    height: 70px;
    box-sizing: border-box;
    position: absolute;
    left: 550px;
    top: 40px;
    text-align: center;
}

.more1 .center1 .more_button1 a{
    width: 400px;
    height: 70px;
    display: block;
    text-decoration: unset;
    color: #00bf6f;
    text-align: center;
    font-family: yekan;
    margin-top:20px;
    border: 2px gray solid;
    line-height: 70px;
    border-radius: 50px;
    position: relative;
    bottom: 25px;
    transition: 300ms;
}
.more1 .center1 .more_button1 a:hover{
    border-color: #00bf6f;
    transition: 300ms;
}

