.amazedaily{
    height: 130px;
    width: 1710px;

}
.amazedaily .center{
    height: inherit;
    width: calc(1710px - 186px);
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;

}
.amazedaily .center .aks{
    height: 102px;
    width: 334px;

    margin: 0 auto;
    box-sizing: border-box;
    position: absolute;
    top: 25px;
    right: 120px;
}
.amazedaily .center .aks img{
    height: 62px;
    width: 309px;
}
.amazedaily .center .amazetimer{
    width: 470px;
    height: 100px;

    margin: 0 auto;
    box-sizing: border-box;
    position: absolute;
    top: 25px;
    left: 0px;
}
.amazedaily .center .amazetimer .text h1{
    display: block;
    font-family: yekan;
    color: #00bf6f;
    font-size: 20px;
    margin-top: 25px;
}