.title{
    width: 100%;
    height: 100px;

}
.title .center{
    height: inherit;
    width: calc(100% - 188px );
    margin: 0 auto;
    position: relative;
}
.title .center h1{
    font-family: yekan;
    position: absolute;
    top: 30%;
    left: 40%;
}